/*GENERAL STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.6em;
}
li {
  list-style-type: none;
  padding: 0.3rem;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  /* overflow: auto; */
}
/*INDEX STYLE*/
/*HEADER STYLE*/
header {
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 3px solid #f4f4f4;
  background-color: green;
  color: white;
  padding: 1rem;
}
header h1,
header h2 {
  margin: 1rem auto;
}
/*MAIN STYLE*/
main {
  padding-bottom: 20px;
}
a.start {
  display: inline-block;
  font-weight: 800;
  color: #ff6600;
  background: linear-gradient(175deg, yellow 55%, green);
  border: 1px dotted;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
/*QUESTION STYLE*/
.current {
  padding: 10px;
  background: #f4f4f4;
  border: 2px dotted #ccc;
  margin: 20px 0 10px 0;
}
input[type="submit"] {
  padding: 0.5rem;
  margin: 0.5rem auto;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
input[type="submit"]:hover {
  color: green;
}
input[type="submit"]:active {
  margin-top: 1rem;
  box-shadow: 0 3px 5px yellow;
}
.choices {
  margin-left: 2rem;
}
@media screen and (min-width: 768px) {
  .choices div {
    display: flex;
  }
  li {
    width: 50%;
  }
}
/*ADD STYLE*/
label {
  display: inline-block;
  width: 40%;
}
input[type="text"] {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media screen and (max-width: 425px) {
  input[type="text"] {
    width: 100%;
  }
}
main {
  margin-bottom: 7rem;
}
/*FOOTER STYLE */
.footer {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(green, green);
  background: -webkit-linear-gradient(green, green);
  background: -moz-linear-gradient(green, green);
  background: -o-linear-gradient(green, green);
  padding: 1rem;
  margin-top: 3rem;
  position: fixed;
  bottom: 0;
}
.footer p {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}
footer div {
  margin-left: 2rem;
}
.footer p a {
  text-decoration: none;
  color: #ff6600;
}
.footer p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #5d12e7;
  margin-bottom: 1rem;
}
.footer ul li a {
  color: #fff;
}
.footer ul li {
  transition: all 0.2s;
  list-style-type: none;
  text-align: center;
}
.footer ul li:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column-reverse;
  }
  footer div {
    margin-left: 0;
    margin-bottom: 2rem;
  }
}
